@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  margin: 0;
  background-color: var(--gray-100);
  font-family: "Public Sans";
}

main > *,
footer {
  padding-left: 8rem;
  padding-right: 8rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  color: var(--blue-950);
  margin: 0;
}

p {
  color: var(--gray-600);
  font-size: var(--body-copy);
  margin: 0;
  line-height: 1.5;
}

:root {
  /* Primary Colours */
  --blue-950: hsl(233, 26%, 24%);
  --green-500: hsl(136, 64%, 51%);
  --cyan-400: hsl(192, 69%, 51%);

  /* Neutral */
  --gray-600: hsl(233, 8%, 62%);
  --gray-100: hsl(220, 16%, 96%);
  --gray-50: hsl(0, 0%, 98%);

  /* Typography */
  --body-copy: 18px;

  /* Font Family */
  --public-sans-family: ;
}

@font-face {
  font-family: "Public Sans", sans-serif;
  src: url(https://fonts.google.com/specimen/Public+Sans);
}

header {
  background-color: #fff;
  display: flex;
  height: 80px;
}

.logo {
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo, .nav-list > * , .request-btn {
  cursor: pointer;
}

.nav-list {
  display: flex;
  gap: 2rem;
  margin: 0;
  align-self: stretch;
}

li, a {
  list-style-type: none;
  color: var(--gray-100);
  cursor: pointer;
  text-decoration: none;
}

.nav-list li {
  display: flex;
  align-self: stretch;
  align-items: center;
  transition: 100ms ease;
  border-bottom: 3px solid transparent;
}

.nav-list li:hover {
  color: var(--blue-950);
  border-color: var(--green-500);
}

.nav-list a {
  text-decoration: none;
  color: var(--gray-600);
  transition: 100ms ease;

}

.nav-list a:hover {
  color: var(--blue-950);
}

.request-btn {
  all: unset;
  padding: 1rem 3rem;
  border-radius: 2rem;
  background: linear-gradient(20deg, var(--cyan-400), var(--green-500));
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: 100ms ease;
}

.request-btn:hover {
  filter: brightness(1.1);
}

.hero {
  background-color: var(--gray-50);
  display: flex;
  grid-template-columns: 40% 60%;
  position: relative;
  overflow: hidden;
  height: 50%;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  width: 40%;
  padding-block: 10rem;
}

.hero-hook {
  font-size: 4rem;
}

.hero-svg {
  position: absolute;
  bottom: 0;
  right: -15vw; /* push out of the right edge */
  width: clamp(500px, 72vw, 1200px); /* responsive sizing */
  height: auto; /* keep aspect ratio */
  z-index: 1;
  pointer-events: none;
}

.info-section {
  display: flex;
  flex-direction: column;
  padding-block: 5rem;
  gap: 3rem;
}

.subheading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info-card img {
  height: 3rem;
  width: 3rem;
}

.info-card h4 {
  font-size: 1.5rem;
  transition: 100ms ease;
}

.info-card > h4:hover,
.article-info > h4:hover {
  color: var(--green-500);
  cursor: pointer;
}

.posts {
  background-color: var(--gray-50);
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.article-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
}

.article-card img {
  height: 200px;
  width: auto;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  object-fit: fill;
}

.article-info {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}

.article-info span {
  color: var(--gray-600);
  font-size: 0.8rem;
}

.article-info p {
  font-size: 0.9rem;
  line-height: 1.15;
}

.article-info h4 {
  font-size: 1.25rem;
  transition: 100ms ease;
}

footer {
  background-color: var(--blue-950);
  padding-block: 3rem;
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 6fr;
}

.socials-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1;
}

.social-logos {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

footer ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.footer-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 2rem;
}

.footer-btns span {
  color: var(--gray-600);
}

.attribution {
  text-align: center;
  background-color: var(--blue-950);
  color: var(--gray-50);
  padding: 0.5rem 0;
}

.attribution a {
  all: unset;
  color: var(--green-500);
  cursor: pointer;
}
